{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}

    <!-- navbar for more than 800px+ screen  -->
    <div class="mainbody-content-about">
      <div class="container-fluid">
        {% include "VisaPage/Base/navbar.html" %}
  </div>
  {% include "VisaPage/Base/sidenavbar.html" %}


      <!-- ///////////////////landing page about//////////////////////// -->

      <div class="onestop-heading-img">
      <div class="onestop-heading"><span>One stop</span> platform to cater to your all kind <br/> of visa needs.</div>
      <div class="onestop-para">Catering to all kind of visa needs to fulfill your global aspirations.</div>
      </div>



    </div>
     <!-- <div class="one-stop-img"><img src="./images/Frame 1000009948.png" alt=""></div> -->

       <div class="about-us-landing-img container">
        <div class="one-stop-img"><img src="{% static "visa/images/Frame 1000009948.png" %}" alt=""></div>
       </div>
<!-- ///////////////////////////about us//////////////////////////////// -->

{% endblock main-body-content %}

{% block main-content  %}

  <div class="container">
    <div class="about-us-value">
        <div class="heading">Our Values</div>
        <div class="about-us-grid row g-4">
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="about-us-grid-1">
                  <div class="about-grid-img">
                      <img src="{% static "visa/images/images4.png" %}" style="height: 80px; width: 80px;" alt="">
                  </div> 
                  <div class="about-us-grid-content">
                      <div class="about-us-content-1">Customer Centricity</div>
                      <div class="about-us-content-2">Customers are at the heart of every initiative and advancement Skytrails make. Customer feedback is taken very seriously to continually improve and tailor our services.</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="about-us-grid-1">
                  <div class="about-grid-img">
                      <img src="{% static "visa/images/building 3.png" %}" style="height: 80px; width: 80px;" alt="">
                  </div> 
                  <div class="about-us-grid-content">
                      <div class="about-us-content-1">Innovation and adaptability</div>
                      <div class="about-us-content-2">We thrive on innovation and continuously evolving to make our product and services user friendly for anyone seeking all kinds of travel and visa services.</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="about-us-grid-1">
                  <div class="about-grid-img">
                      <img src="{% static "visa/images/building 2.png" %}" style="height: 80px; width: 80px;" alt="">
                  </div> 
                  <div class="about-us-grid-content">
                      <div class="about-us-content-1">Integrity and trustworthiness</div>
                      <div class="about-us-content-2" style="margin-bottom: 18px;">Prioritizing transparency in all our dealings, ensuring honesty in our pricing, policies and information provided.</div>
                  </div>
              </div>
          </div>
      </div>
      

       </div>
  </div>

<!-- /////////////////////////////////leadership//////////////////// -->
  <!-- <div class="container"> -->
    {% comment %} <div class="about-leadership-content-conatiner">
        <div class="service-offer-heading">Our Leadership</div>
        <div class="leadership-detail row" style="gap: 80px;">
          <div class="ledership-detail-img col-lg-3 col-md-10"></div>
          <div class="ledership-detail-content col-lg-7 col-md-10">
              <div class="leadership-detail-content-position">Harpreet Singh Devgun</div>
              <div class="leadership-detail-content-position">MD of Skytrails</div>
              <div class="leadership-detail-content-description">Welcome to Skytrails! I'm <span> Harpreet Singh Devgun, MD of Skytrails, </span>where our mission is to redefine job assurance for blue-collar workers and fulfill travel dreams by providing the lowest market prices and work permit visas. <br/>
                  Celebrating over 15 years of success, we are deeply committed to customer satisfaction and employee well-being, constantly evolving to stay at the industry's forefront.
                  <br/> 
                  Thanks to our dedicated team and loyal customers, Skytrails is poised for a bright future, and we are grateful for your continued support and trust.
              </div>
          </div>
      </div>
      

            <div class="row director-photo-column" style="margin-bottom: 32px;">
              <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="director-multiple-photo">
                <div class="director-multiple-photo images">
                    <img src="{% static "visa/images/Frame 1000009881.png" %}" alt="">
                </div>

                <div class="director-multiple-photo-name-position">
                    <div class="leadership-detail-content-position">Anshul Kumar Sharma</div>
                    <div class="crafting-heading-para">Director</div>
                </div>
              </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="director-multiple-photo">
                  <div class="director-multiple-photo images">
                      <img src="{% static "visa/images/Frame 1000009881.png" %}" alt="">
                  </div>
  
                  <div class="director-multiple-photo-name-position">
                      <div class="leadership-detail-content-position">Anshul Kumar Sharma</div>
                      <div class="crafting-heading-para">Director</div>
                  </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="director-multiple-photo">
                      <div class="director-multiple-photo images">
                          <img src="{% static "visa/images/Frame 1000009881.png" %}" alt="">
                      </div>
      
                      <div class="director-multiple-photo-name-position">
                          <div class="leadership-detail-content-position">Anshul Kumar Sharma</div>
                          <div class="crafting-heading-para">Director</div>
                      </div>
                    </div>
                    </div>

            </div>
    </div> {% endcomment %}
    
  <!-- </div> -->


  <!-- ///////////////////////brif history///////////////////// -->


   <!-- //////////////////////////////Skill development center//////////////////////////////// -->

   <div class="container">
    <div class="skill-development-container row" >
      <div class="col-lg-6 col-md-12">
          <div class="travel-content-holiday">
              <div class="travel-content-heading">Skytrails Skill Development Centre</div>
              <div class="travel-content-para">Offering streamlined work permits, professional skill training, and versatile visa service.</div>
          </div>
          <a href="{% url "ssdc" %}">
            <button class="discover-button mt-5">Know More</button>
          </a>
      </div>
      <div class="col-lg-1 col-md-12 mt-4 mt-md-0">
          
      </div>
      <div class="col-lg-5 col-md-12 mt-4 mt-md-0">
          {% comment %} <div class="skill-content-img"> {% endcomment %}
            <img src="{% static "visa/images/aboutus1.png" %}" alt="" srcset="" style="width:60%;">
          {% comment %} </div> {% endcomment %}
      </div>
  </div>
  </div>
  


  <!-- //////////////////////travel-holiday////////////////////// -->
  <div class="container" style="padding:64px;">
    <div class="holiday-conatiner row">
      <div class="col-lg-5 col-md-12">
        <img src="{% static "visa/images/aboutus2.svg" %}" alt="" srcset="" style="height:90%;width:90%;">
      </div>
      <div class="col-lg-7 col-md-12">
          <div class="travel-content-holiday">
              <div class="travel-content-heading">Travel and Holiday</div>
              <div class="travel-content-para">We offer an extensive range of travel services worldwide. <br>
                Created with our customers in mind we offer customizable travel solutions for to make your trips memorable.
              </div>
          </div>
          <a href="https://theskytrails.com/">
            <button class="discover-button mt-5">Discover More</button>
          </a>
      </div>
  </div>
  </div>







<!-- //////////////////patner ////////////////////////////// -->

<div class="container">
    <div class="patner-container">
        <div class="recognized-patner-value">
            <div class="patner-heading">Recognized Partnership</div>
            </div>
        <div class="patner-logo">
            <img src="{% static "visa/images/responsible-tourism-society-of-india-logo-700x273-1-1 1.png" %}" alt="">
            <img src="{% static "visa/images/lemon-tree-hotels-logo-2A55C28509-seeklogo 1.png" %}" alt="">
            <img src="{% static "visa/images/jumeirah-logo-B7B760C975-seeklogo 1.png" %}" alt="">
            <img src="{% static "visa/images/image 1212.png" %}" alt="">
            <img src="{% static "visa/images/2560px-Marriott_Logo 1.png" %}" alt="">
            <img src="{% static "visa/images//indigo-vector-logo-2022 1.svg" %}" alt="">
        </div>

    </div>
</div>




  <!--  -->
   <!-- ///////////////////////////////GETINTOUCH///////////////////////////// -->
   <div class="getintouchcontainer container">
    <div class="gettouch-heading">Get in touch</div>

    <div class="gettouch-content-img">
      <div class="touch-content-button">
        <div class="touch-content">
          <div class="touch-content-heading">
            Connect with our team to get personalized visa solutions.
          </div>
          <div class="touch-content-para">
            We offer solutions that are customized to your requirements.
          </div>
        </div>
        <button class="Scheduleappointment">Schedule an appointment</button>
      </div>

      <div class="get-touchimg">
        <img src="{% static "visa/images/images1.jpg" %}" alt="" />
      </div>
    </div>
  </div>

  {% endblock main-content %}