{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}

  <!-- navbar for more than 800px+ screen  -->
    <div class="container-fluid" style="width: 100%; padding: 0;">
      {% include "VisaPage/Base/navbar.html" %}
  </div>
  {% include "VisaPage/Base/sidenavbar.html" %}

  {% endblock main-body-content %}

  {% block main-content  %}


    <!-- /////////////////////////////////////anti-fraud-page///////////////// -->

    <div class="privacy-policy-container">
      <div class="container ">
      <div class="privacy-content">
  
          <div class="privacy-content-1">
              <h3 class="privacy-heading">Anti Fraud Policy of The Skytrails</h3>
          </div>
  
  
          <div class="privacy-content-2">
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">NOTICE TO CLIENTS </div>
                  <div class="privacy-values2">Payments to Skytrails Private Limited: When making a payment to Skytrails Private Limited, you have the right to request a receipt. Skytrails Private Limited provides receipts for all payments received. An acknowledgment for your payment will be sent from our central billing system. If you have queries regarding payments to Skytrails Private Limited, please email us at <span><a href="mailto:info@theskytrails.com">info@theskytrails.com.</a></span> </div>
              </div>
  
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">Payments to Skytrails staff:</div>
                  <div class="privacy-values">
                      We urge you not to make any additional payments to any Skytrails employee. If a Skytrails staff member proposes fabricating your profile or obtaining documents for an extra fee, we strongly recommend reporting this to our management for appropriate action. <br/> Please note: Skytrails Private Limited is not responsible for any verbal or written agreements you enter into with our employees or their references. We will not be liable for consequences arising from payments made for unsanctioned services to any Skytrails staff.
                  </div>
              </div>
  
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">Vendors Referred by Skytrails Staff:</div>
                  <div class="privacy-values">
                      We advise against using services from vendors recommended by Skytrails staff. Such endorsements are not supported by Skytrails Private Limited and could lead to fraudulent activities. The company is not accountable for any transactions made with vendors referred by a Skytrails employee.
                  </div>
              </div>
  
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">Fraudulent Documentation: </div>
                  <div class="privacy-values">
                      Skytrails Private Limited does not engage with cases involving fraudulent documentation or information. We assume that all information provided by you is accurate and truthful. We are not liable for any incorrect, misleading, or fraudulent documentation or information submitted.<br/>
                      Skytrails Private Limited does not offer documentation services or visa processing assistance. We presume all documents provided to us are authentic and valid.
                  </div>
              </div>
  
             
  
          </div>
         
          
      </div>
      </div>
  </div>


{% endblock main-content %}