<div class="modal" id="applyNowModal" tabindex="-1" aria-labelledby="applyNowModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content" style="background: #cad7f7">
                        <!-- Modal Header -->
                        <div class="modal-header" style="border-bottom: none">
                           <h5 class="modal-title Overseasonjourneytext2" id="applyNowModalLabel">
                              Drop Your CV Here
                           </h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                           <!-- Add your form here -->
                           <form action="{% url "save_cv" %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                              <!-- Full Name and Last Name -->
                              <div class="row">
                                 <div class="mb-3 col-md-6">
                                    <label for="fullName" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="Name" name="Name"
                                       placeholder="Enter your Name" />
                                 </div>
                                 <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Enter your EmailId" />
                                 </div>
                              </div>
                              <!-- Phone and Email -->
                              <div class="row">
                                 <div class="mb-3 col-md-6">
                                    <label for="number" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="contact_no" name="contact_no"
                                       placeholder="Enter your Phone Number" />
                                 </div>
                                 <div class="mb-3 col-md-6">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" name="address"
                                       placeholder="Enter your Address " />
                                 </div>
                              </div>
                              <div class="row">
                              <div class="mb-3 col-md-6">
                                <label for="country" class="form-label">Apply For Country</label>
                                <input type="text" class="form-control" id="country" name="country"
                                   placeholder="Enter Country Name " />
                             </div>
                             <div class="mb-3 col-md-6">
                                <label for="jobprofile" class="form-label">Job Profile</label>
                                <input type="text" class="form-control" id="job_profile" name="job_profile"
                                   placeholder="Enter Job Profile " />
                             </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                <label for="cvfile" class="form-label">Upload Your CV</label>
                                <input type="file" class="form-control" name="cv_file" id="cv_file">
                            </div>
                            </div>
                              <!-- Submit button -->
                              <button type="submit" class="btn customHeaderButton" style="align-items: center">
                              Confirm
                              </button>
                           </form>
                        </div>
                        <!-- Modal Footer -->
                     </div>
                  </div>
               </div>