{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}

<style>
   .mainbody-content {
       background-image: url("{% static 'visa/images/background.png' %}");
       background-size: cover; 
       background-position: center; 
   }
</style>

<div class="mainbody-content">
         <div class="container-fluid">
             {% include "VisaPage/Base/navbar.html" %}
        </div> 
        {% include "VisaPage/Base/sidenavbar.html" %}
        <div class="mainbody-content-banner">
            <div class="landingpage-banner">
               <div class="landing-page-heading">
                  <div class="crafting-heading" style="color: white;">
                     Crafting your unique journey to Global Opportunities.
                  </div>
                  <div class="crafting-heading-para" style="color: white;">
                     Empowering  individuals for transformative global experiences by bridging  the opportunity gap. 
                  </div>
               </div>
               <button class="crafeting-banner-button" data-bs-toggle="modal" data-bs-target="#applyNowModal">
               Apply Now
               </button>
               {% include "VisaPage/dropcv_modal.html" %}
            </div>
            
         </div>
    </div>

{% endblock main-body-content %}


{% block main-content %}
<div class="service-we-offer">
   <div class="service-offer-container">
      <div class="service-offer-heading">Services we offer</div>
      <div class="mt-5 w-100">
         <ul class="nav service-content" id="myTabs">
            <li class="nav-item">
               <a class="active visa-service" id="tab1-tab" data-bs-toggle="tab" href="#tab1">Visa Services</a>
            </li>
            <li class="nav-item">
               <a class="visa-service" id="tab2-tab" data-bs-toggle="tab" href="#tab2">Work Permit
               </a>
            </li>
            <li class="nav-item">
               <a class="visa-service" id="tab3-tab" data-bs-toggle="tab" href="#tab3">Skill Training</a>
            </li>
         </ul>
         <div class="tab-content" style="margin-top: 50px">
            <div class="tab-pane fade show active" id="tab1">
               <div class="container">
                  <div class="visa-service-conatiner row">
                     <div class="col visa-service-text">
                        <div class="visa-content-conatiner1">
                           <div class="visacontent">Visa Service</div>
                           <div class="visa-content-points">
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked (1) 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">All- Visa expertise.</div>
                              </div>
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked (1) 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">Fast track processing.</div>
                              </div>
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked (1) 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">Personalized support.</div>
                              </div>
                           </div>
                        </div>
                        <a href="{% url "visa_details" %}">
                        <div class="visa-button">Learn More</div>
                     </a>
                     </div>
                     <div class="col">
                           <img class="service-container-img" src="{% static "visa/images/visa services.png" %}" alt="" srcset="">
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade" id="tab2">
               <div class="container">
                  <div class="work-service-conatiner row">
                     <div class="col visa-service-text">
                        <div class="visa-content-conatiner1">
                           <div class="workcontent">Work Permit</div>
                           <div class="visa-content-points">
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">Visa Process Assistance.</div>
                              </div>
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">
                                    Global Employment Opportunities
                                 </div>
                              </div>
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">
                                    Pathway to an International Career.
                                 </div>
                              </div>
                           </div>
                        </div>
                        <a href="{% url "visa_details" %}">
                           <div class="visa-button">Learn More</div>
                        </a>
                     </div>
                     <div class="col">
                        <img class="service-container-img" src="{% static "visa/images/skill.png" %}" alt="" srcset="">
                  </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade" id="tab3">
               <div class="container">
                  <div class="skill-service-conatiner row">
                     <div class="col visa-service-text">
                        <div class="visa-content-conatiner1">
                           <div class="skillcontent">Skill Training</div>
                           <div class="visa-content-points">
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked (2) 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">Advanced training for skill enhancement.</div>
                              </div>
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked (2) 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">
                                    Diverse career placements globally.
                                 </div>
                              </div>
                              <div class="visa-content-point1">
                                 <img src="{% static "visa/images/checked (2) 1.png" %}" alt=""
                                 style="height: 18px; width: 18px" />
                                 <div class="allvisa">
                                    Enhancing vocational abilities.
                                 </div>
                              </div>
                           </div>
                        </div>
                        <a href="{% url "visa_details" %}">
                           <div class="visa-button">Learn More</div>
                        </a>
                     </div>
                     <div class="col">
                        <img class="service-container-img" src="{% static "visa/images/work permit.png" %}" alt="" srcset="">
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ///////////////////////Overseas Journey//////////////////////////// -->
<div class="Overseasonjourney container">
   <div class="Overseasonjourneycontent">
      <div class="Overseasonjourneytext">
         <div class="Overseasonjourneytext1">
            Skytrails: Your Overseas Journey
         </div>
         <div class="Overseasonjourneytext2">
            Offering streamlined work permits, professional skill training, and versatile visa service.
         </div>
      </div>
      <button
      class="journeyconnect"
            data-bs-toggle="modal"
            data-bs-target="#connectusModal"
          >
          Connect With Us
          </button>
          {% include "VisaPage/connectus_modal.html" %}
      
   </div>
   <div class="overseasoncontent-grid">
      <div class="overseasoncontent-grid1">
         <div class="overseason-grid1">
            <div class="servicecardjourneygrid">
               <div class="service-card1">No. of Offices</div>
               <div class="service-card-number">6</div>
            </div>
            <img src="{% static "visa/images/building 1.svg" %}" class="service-icon" alt="" />
         </div>
         <div class="overseason-grid2">
            <div class="servicecardjourneygrid">
               <div class="service-card1">Founding year</div>
               <div class="service-card-number">2021</div>
            </div>
            <img src="{% static "visa/images/calendar 1.png" %}" class="service-icon" alt="" />
         </div>
      </div>
      <div class="overseasoncontent-grid2">
         <div class="note-member">
            <div class="membersdetail">
               <div class="total-member">No. of team members</div>
               <div class="total-member-no">200+</div>
            </div>
            <img src="{% static "visa/images/man (1) 1.png" %}" class="imgno" alt="" />
         </div>
         <div class="succesful-visa">
            <div class="membersdetail">
               <div class="total-member">Successful visa case</div>
               <div class="total-member-no">2600+</div>
            </div>
            <img src="{% static "visa/images/passport 1.png" %}" class="imgno" alt="" />
         </div>
      </div>
   </div>
</div>
{% comment %} Testimonials {% endcomment %}


<div class="testimonial1">
   <div class="testimonial container">
      <div class="faq-content">Customer Testimonials</div>
      <div class="row">
         {% for i in testimonial %}
         
         <div class="col-md-4">

            {% if i.file %}
         {% if i.file.name|slice:"-4:" == ".mp4" or i.file.name|slice:"-4:" == ".avi"  %}
           
               <video controls style="width:100%; height:80%;">
                <source src="{{ i.file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            
        {% else %}
           <img src="{{ i.file.url }}" alt="" style="width:100%;height:80%;">
           {% endif %}
           {% else %}
         <img src="{% static "visa/images/banner-img.jpeg" %}" alt="Default Image" style="width:100%;height:80%;">
         
        {% endif %} 
            <div class="text" style="margin-top:10px;">
               <h5><b>{{i.name}}</b></h5>
               {% if i.rating == 1 %}
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               {% elif i.rating == 2 %}
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               {% elif i.rating == 3 %}
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               {% elif i.rating == 4 %}
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               {% else %}
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">
               <img src="{% static "visa/images/Star.svg" %}" alt="" srcset="">

               {% endif %}
               
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
   </div>
</div>



<!-- //////////////////////////////Latest Update////////////////////////////////// -->
<div class="latestupdate container">
   <div class="latest-updateheading">Latest Updates</div>
   <div class="container">
     <div class="row">
      {% for i in products  %}
       <div class="col-md-4">
         <div class="grid-update-1">
           <div class="latest-img-min">
            {% if i.image %} 
             <img
               src="{{i.image}}"
               alt=""
               class="latest-update-image"
             />
             {% else %}
             <img src="{% static "visa/images/image 16.png" %}" alt="" srcset="" class="latest-update-image"
             />
             {% endif %}
             <div class="min-read">
               <div class="minread-value1">
                 <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" />
                 <div class="min-read content">4 MIN READ</div>
               </div>
             </div>
           </div>
           <div class="work-permit-offer">
           
             <div class="work-permit-button">{{i.visa_category.category}}</div>
             <div class="textile-work">{{i.title}}</div>
           </div>
         </div>
       </div>
       {% endfor %}
     </div>

    
   </div>
   <div class="latest-updateheading"><button class="latest-option-button">View All</button></div>
   {% comment %} <button class="latest-option-button">View All</button> {% endcomment %}
 </div>
<!-- ///////////////////////////////////faq////////////////////////////////////// -->
<div class="faqcontainer1">
   <div class="faqcontainer container">
      <div class="faq-content">Frequently Asked Questions (FAQs)</div>
      <div class="faq-acordian" style="width: 100%">
         <div class="accordion" id="accordionExample">
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 600;">
                     What are all the services that Skytrails offer?
                  </button>
               </h2>
               <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 400;">
                     A Work Visa is essential for legally working in a foreign country for a set duration. Typically, obtaining a Work Visa necessitates a job offer from an employer in the destination country. The employer sponsoring your Visa is also a crucial requirement. Additionally, passing a Labour Market Test is often a prerequisite before applying for a Work Visa. To successfully secure a Work Visa, meeting the specific eligibility criteria set by the respective country is mandatory.
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 600;">
                  Why should you choose the skytrails for visa services?
                  </button>
               </h2>
               <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 400;">
                     As a trusted visa consultant for over a decade, Skytrails has successful track record of visas. Our experienced team understands requirement of each country and processes applications smartly. We are committed to integrity and ensure authentic documents. Our dedicated support helps solve queries at every step of application. Above all, we offer best value for money without any hidden costs.
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 600;">
                     How can our visa expertise help you in making your visa journey easy?
                  </button>
               </h2>
               <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 400;">
                     Our visa experts at Skytrails bring years of experience to the table, simplifying the complex visa journey for you. From understanding the intricacies of different visa types to assisting with documentation, we guide you at every step. Our expertise minimizes the chances of errors and ensures a smoother application process, saving you time and effort.
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 600;">
                     How long does it take for visa application process? 
                  </button>
               </h2>
               <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 400;">
                     The duration of the visa application process varies depending on the type of visa and the country of destination you are applying for. Generally, it can take anywhere from a few weeks to a few months. Skytrails is committed to providing accurate timelines and keeping you informed about the progress of your application throughout the entire process.
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 600;">
                     How can Skytrails help to choose the best suited visa for you?
                  </button>
               </h2>
               <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 400;">
                     At Skytrails, we understand that each individual's needs are unique. Our experienced visa consultants will assess your specific requirements, skill-set, experience and understand your career goals. By providing personalized guidance, we help you choose the most suitable visa option, ensuring a successful and stress-free application process. <br>
After understanding your needs, we assist you with selecting countries that offer higher job prospects and better standards of living assuring your long term success and career growth.
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 600;">
                     How do we ensure you get constant assistance from our team?
                  </button>
               </h2>
               <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body" style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 400;">
                     We assign you a dedicated relationship manager who can be reached out at anytime and will be your single point of contact. They will guide you in detail by understanding your needs. They will guide you on the process and timelines, arrange for document collection, assist with application submission and keep you updated on status. Even post-visa we provide assistance for initial settlement, opening bank accounts etc. You can contact your case manager via phone/email for any queries throughout your engagements with us.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ///////////////////////////////GETINTOUCH///////////////////////////// -->
<div class="getintouchcontainer container">
   <div class="gettouch-heading">Get in touch</div>
   <div class="gettouch-content-img">
      <div class="touch-content-button">
         <div class="touch-content">
            <div class="touch-content-heading">
               Connect with our team to get personalized visa solutions. 
            </div>
            <div class="touch-content-para">
               Our team is here to help you with all doubts and help you make right decisions.
            </div>
         </div>
         <button
         class="Scheduleappointment"
               data-bs-toggle="modal"
               data-bs-target="#appointmentModal"
             >
             Schedule an appointment
             </button>
             {% include "VisaPage/appointment_modal.html" %}
      </div>
      <div class="get-touchimg">
         <img src="{% static "visa/images/images1.jpg" %}" alt="" />
      </div>
   </div>
</div>
{% endblock main-content %}