{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}
<div class="mainbody-content-visa2">
  <div class="container-fluid">
    {% include "VisaPage/Base/navbar.html" %}
  </div>
  {% include "VisaPage/Base/sidenavbar.html" %}
  <!--/////////////////////////////////////landing page ssdc/////////////////////////////////////////-->

  <div class="carrer-landing">
    <div class="carrer-landing-content">
        <h3 class="service-card-number" style="text-align: center;">Assisting you to scale your business at <br />  global level.</h3>

    </div>
    <button class="customHeaderButton" style="border: none;">Connect With Us</button>

</div>
</div>
{% endblock main-body-content %}

{% block main-content  %}

    <!-- //////////////////////////know the process//////////////////////////////////////// -->
    <div class="container service-we-offer">
        <div class="service-offer-container">
            <div class="service-offer-heading">Know the Process</div>

            <div class="onestop-para">Here is how Skytrails experts help you in your migration journey</div>


            <div class="container">
                <div class="know-service-grid1 row">
                    <div class="col-lg-3 col-md-4">
                     <div class="training-journey-serice">
                      <div class="training-journey-serice-no">1</div>
                      <h3 class="training-journey-serice-heading">Profile Evaluation</h3>
                      <p class="crafting-heading-para">Get in touch with us by filling the form. Our expert will call you to understand your requirements and needs. You can also visit any of our office and meet our visa experts. </p>
  
                     </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <div class="training-journey-serice">
                       <div class="training-journey-serice-no">2</div>
                       <h3 class="training-journey-serice-heading">Explore opportunities</h3>
                       <p class="crafting-heading-para">If you meet the basic requirements, enroll in our skill training programs. 
                        Our courses are designed to ensuring you meet the industry standards.</p>
   
                      </div>
                     </div>
                     <div class="col-lg-3 col-md-4">
                      <div class="training-journey-serice">
                       <div class="training-journey-serice-no">3</div>
                       <h3 class="training-journey-serice-heading">Documentation</h3>
                       <p class="crafting-heading-para">Additionally we are dedicated to to boost your confidence and make you well prepared.
                        We help you by improvising your english speaking skills.
                          
                          </p>
   
                      </div>
                     </div>
                     <div class="col-lg-3 col-md-4"  style="padding-top: 34px;">
                      <div class="training-journey-serice">
                       <div class="training-journey-serice-no">4</div>
                       <h3 class="training-journey-serice-heading">Processing</h3>
                       <p class="crafting-heading-para">Alongside our comprehensive training program, our team of expert guides help you through the visa documentation and processing. Trust us with paperwork, and you focus on training.

                      </p>
   
                      </div>
                     </div>
                  
                </div>
                
                </div>





            <button class="customHeaderButton">Get in touch with us</button>
        </div>
    </div>





    <!-- slider area  -->


    <div class="container">
      <div class="service-offer-heading" style="text-align: center; margin-bottom: 52px;">Featured Articles</div>
      <div class="sercise-feature-grid">
         <div class="owl-slider">
            <div class="row">
               <div id="carousel" class="owl-carousel owl " style=" width: 100%;">
                  <div class="col-lg-4" style="width: 100%;">
                     <div class="grid-update-1">
                        <div class="latest-img-min">
                           <img
                              src="{% static "visa/images/image 16.png" %}"
                              alt=""
                              class="latest-update-image"
                              />
                           <div class="min-read">
                              <div class="minread-value1">
                                 <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" style="width: 0px;" />
                                 <div class="min-read content">4 MIN READ</div>
                              </div>
                           </div>
                        </div>
                        <div class="work-permit-offer" style="width: 100%;">
                           <div class="work-permit-button1">Work Permit</div>
                           <div class="work-permit-date">7 FEBRUARY, 2023</div>
                           <div class="feature-article-content-coursel" style="width: 100%;">Canada PNP September 2023 <br/>round-up: 8,973 invitations were issued</div>
                           <div class="read-more-content-icon">
                              <div class="register-now">Read More</div>
                              <div class="read-more-content-icon2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08ZM18 4C18.55 4 19 4.45 19 5C19 5.55 18.55 6 18 6C17.45 6 17 5.55 17 5C17 4.45 17.45 4 18 4ZM6 13C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11C6.55 11 7 11.45 7 12C7 12.55 6.55 13 6 13ZM18 20.02C17.45 20.02 17 19.57 17 19.02C17 18.47 17.45 18.02 18 18.02C18.55 18.02 19 18.47 19 19.02C19 19.57 18.55 20.02 18 20.02Z" fill="#071C2C"/>
                                 </svg>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M7.5 4C4.4625 4 2 6.4625 2 9.5C2 15 8.5 20 12 21.163C15.5 20 22 15 22 9.5C22 6.4625 19.5375 4 16.5 4C14.64 4 12.995 4.9235 12 6.337C11.4928 5.6146 10.8191 5.02505 10.0358 4.61824C9.25245 4.21144 8.38265 3.99938 7.5 4Z" stroke="#071C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4" style="width: 100%;">
                     <div class="grid-update-1">
                        <div class="latest-img-min">
                           <img
                              src="{% static "visa/images/image 16.png" %}"
                              alt=""
                              class="latest-update-image"
                              />
                           <div class="min-read">
                              <div class="minread-value1">
                                 <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" style="width: 0px;" />
                                 <div class="min-read content">4 MIN READ</div>
                              </div>
                           </div>
                        </div>
                        <div class="work-permit-offer" style="width: 100%;">
                           <div class="work-permit-button1">Work Permit</div>
                           <div class="work-permit-date">7 FEBRUARY, 2023</div>
                           <div class="feature-article-content-coursel" style="width: 100%;">Canada PNP September 2023 <br/>round-up: 8,973 invitations were issued</div>
                           <div class="read-more-content-icon">
                              <div class="register-now">Read More</div>
                              <div class="read-more-content-icon2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08ZM18 4C18.55 4 19 4.45 19 5C19 5.55 18.55 6 18 6C17.45 6 17 5.55 17 5C17 4.45 17.45 4 18 4ZM6 13C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11C6.55 11 7 11.45 7 12C7 12.55 6.55 13 6 13ZM18 20.02C17.45 20.02 17 19.57 17 19.02C17 18.47 17.45 18.02 18 18.02C18.55 18.02 19 18.47 19 19.02C19 19.57 18.55 20.02 18 20.02Z" fill="#071C2C"/>
                                 </svg>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M7.5 4C4.4625 4 2 6.4625 2 9.5C2 15 8.5 20 12 21.163C15.5 20 22 15 22 9.5C22 6.4625 19.5375 4 16.5 4C14.64 4 12.995 4.9235 12 6.337C11.4928 5.6146 10.8191 5.02505 10.0358 4.61824C9.25245 4.21144 8.38265 3.99938 7.5 4Z" stroke="#071C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4" style="width: 100%;">
                     <div class="grid-update-1">
                        <div class="latest-img-min">
                           <img
                              src="{% static "visa/images/image 16.png" %}"
                              alt=""
                              class="latest-update-image"
                              />
                           <div class="min-read">
                              <div class="minread-value1">
                                 <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" style="width: 0px;" />
                                 <div class="min-read content">4 MIN READ</div>
                              </div>
                           </div>
                        </div>
                        <div class="work-permit-offer" style="width: 100%;">
                           <div class="work-permit-button1">Work Permit</div>
                           <div class="work-permit-date">7 FEBRUARY, 2023</div>
                           <div class="feature-article-content-coursel" style="width: 100%;">Canada PNP September 2023 <br/>round-up: 8,973 invitations were issued</div>
                           <div class="read-more-content-icon">
                              <div class="register-now">Read More</div>
                              <div class="read-more-content-icon2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08ZM18 4C18.55 4 19 4.45 19 5C19 5.55 18.55 6 18 6C17.45 6 17 5.55 17 5C17 4.45 17.45 4 18 4ZM6 13C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11C6.55 11 7 11.45 7 12C7 12.55 6.55 13 6 13ZM18 20.02C17.45 20.02 17 19.57 17 19.02C17 18.47 17.45 18.02 18 18.02C18.55 18.02 19 18.47 19 19.02C19 19.57 18.55 20.02 18 20.02Z" fill="#071C2C"/>
                                 </svg>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M7.5 4C4.4625 4 2 6.4625 2 9.5C2 15 8.5 20 12 21.163C15.5 20 22 15 22 9.5C22 6.4625 19.5375 4 16.5 4C14.64 4 12.995 4.9235 12 6.337C11.4928 5.6146 10.8191 5.02505 10.0358 4.61824C9.25245 4.21144 8.38265 3.99938 7.5 4Z" stroke="#071C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4" style="width: 100%;">
                     <div class="grid-update-1">
                        <div class="latest-img-min">
                           <img
                              src="{% static "visa/images/image 16.png" %}"
                              alt=""
                              class="latest-update-image"
                              />
                           <div class="min-read">
                              <div class="minread-value1">
                                 <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" style="width: 0px;" />
                                 <div class="min-read content">4 MIN READ</div>
                              </div>
                           </div>
                        </div>
                        <div class="work-permit-offer" style="width: 100%;">
                           <div class="work-permit-button1">Work Permit</div>
                           <div class="work-permit-date">7 FEBRUARY, 2023</div>
                           <div class="feature-article-content-coursel" style="width: 100%;">Canada PNP September 2023 <br/>round-up: 8,973 invitations were issued</div>
                           <div class="read-more-content-icon">
                              <div class="register-now">Read More</div>
                              <div class="read-more-content-icon2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08ZM18 4C18.55 4 19 4.45 19 5C19 5.55 18.55 6 18 6C17.45 6 17 5.55 17 5C17 4.45 17.45 4 18 4ZM6 13C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11C6.55 11 7 11.45 7 12C7 12.55 6.55 13 6 13ZM18 20.02C17.45 20.02 17 19.57 17 19.02C17 18.47 17.45 18.02 18 18.02C18.55 18.02 19 18.47 19 19.02C19 19.57 18.55 20.02 18 20.02Z" fill="#071C2C"/>
                                 </svg>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M7.5 4C4.4625 4 2 6.4625 2 9.5C2 15 8.5 20 12 21.163C15.5 20 22 15 22 9.5C22 6.4625 19.5375 4 16.5 4C14.64 4 12.995 4.9235 12 6.337C11.4928 5.6146 10.8191 5.02505 10.0358 4.61824C9.25245 4.21144 8.38265 3.99938 7.5 4Z" stroke="#071C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4" style="width: 100%;">
                     <div class="grid-update-1">
                        <div class="latest-img-min">
                           <img
                              src="{% static "visa/images/image 16.png" %}"
                              alt=""
                              class="latest-update-image"
                              />
                           <div class="min-read">
                              <div class="minread-value1">
                                 <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" style="width: 0px;" />
                                 <div class="min-read content">4 MIN READ</div>
                              </div>
                           </div>
                        </div>
                        <div class="work-permit-offer" style="width: 100%;">
                           <div class="work-permit-button1">Work Permit</div>
                           <div class="work-permit-date">7 FEBRUARY, 2023</div>
                           <div class="feature-article-content-coursel" style="width: 100%;">Canada PNP September 2023 <br/>round-up: 8,973 invitations were issued</div>
                           <div class="read-more-content-icon">
                              <div class="register-now">Read More</div>
                              <div class="read-more-content-icon2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08ZM18 4C18.55 4 19 4.45 19 5C19 5.55 18.55 6 18 6C17.45 6 17 5.55 17 5C17 4.45 17.45 4 18 4ZM6 13C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11C6.55 11 7 11.45 7 12C7 12.55 6.55 13 6 13ZM18 20.02C17.45 20.02 17 19.57 17 19.02C17 18.47 17.45 18.02 18 18.02C18.55 18.02 19 18.47 19 19.02C19 19.57 18.55 20.02 18 20.02Z" fill="#071C2C"/>
                                 </svg>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M7.5 4C4.4625 4 2 6.4625 2 9.5C2 15 8.5 20 12 21.163C15.5 20 22 15 22 9.5C22 6.4625 19.5375 4 16.5 4C14.64 4 12.995 4.9235 12 6.337C11.4928 5.6146 10.8191 5.02505 10.0358 4.61824C9.25245 4.21144 8.38265 3.99938 7.5 4Z" stroke="#071C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4" style="width: 100%;">
                     <div class="grid-update-1">
                        <div class="latest-img-min">
                           <img
                              src="{% static "visa/images/image 16.png" %}"
                              alt=""
                              class="latest-update-image"
                              />
                           <div class="min-read">
                              <div class="minread-value1">
                                 <img src="{% static "visa/images/ion_time-outline.svg" %}" alt="" style="width: 0px;" />
                                 <div class="min-read content">4 MIN READ</div>
                              </div>
                           </div>
                        </div>
                        <div class="work-permit-offer" style="width: 100%;">
                           <div class="work-permit-button1">Work Permit</div>
                           <div class="work-permit-date">7 FEBRUARY, 2023</div>
                           <div class="feature-article-content-coursel" style="width: 100%;">Canada PNP September 2023 <br/>round-up: 8,973 invitations were issued</div>
                           <div class="read-more-content-icon">
                              <div class="register-now">Read More</div>
                              <div class="read-more-content-icon2">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08ZM18 4C18.55 4 19 4.45 19 5C19 5.55 18.55 6 18 6C17.45 6 17 5.55 17 5C17 4.45 17.45 4 18 4ZM6 13C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11C6.55 11 7 11.45 7 12C7 12.55 6.55 13 6 13ZM18 20.02C17.45 20.02 17 19.57 17 19.02C17 18.47 17.45 18.02 18 18.02C18.55 18.02 19 18.47 19 19.02C19 19.57 18.55 20.02 18 20.02Z" fill="#071C2C"/>
                                 </svg>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M7.5 4C4.4625 4 2 6.4625 2 9.5C2 15 8.5 20 12 21.163C15.5 20 22 15 22 9.5C22 6.4625 19.5375 4 16.5 4C14.64 4 12.995 4.9235 12 6.337C11.4928 5.6146 10.8191 5.02505 10.0358 4.61824C9.25245 4.21144 8.38265 3.99938 7.5 4Z" stroke="#071C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>

    <!-- ///////////////////////////////////faq////////////////////////////////////// -->
    <div class="faqcontainer1">
      <div class="faqcontainer container">
          <div class="faq-content">Frequently Asked Questions (FAQs)</div>
          <div class="faq-acordian" style="width: 100%">
              <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button"
                              style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 600;"
                              data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                              aria-controls="collapseOne">
                              What are all the services that Skytrails offer?
                          </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body"
                              style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 400;">
                              A Work Visa is essential for legally working in a foreign country for a set duration. Typically, obtaining a Work Visa necessitates a job offer from an employer in the destination country. The employer sponsoring your Visa is also a crucial requirement. Additionally, passing a Labour Market Test is often a prerequisite before applying for a Work Visa. To successfully secure a Work Visa, meeting the specific eligibility criteria set by the respective country is mandatory.
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseTwo" aria-expanded="false"
                              style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 600;"
                              aria-controls="collapseTwo">
                              Why should you choose the skytrails for visa services?
                          </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body"
                              style="color:  #071C2C; font-size: 20px; font-style: Montserrat; font-weight: 400;">
                              When you choose us, you get:
   
                              <li>
                                  Trustworthy Partner - To help you with your
                                  Education/Work/Immigration Application.
                              </li>
                              <li>Knowledge – Our expertise increase your success.</li>
                              <li>
                                  Mutual Benefit – Creates a win-win situation for both,
                                  applicant and Global Tree and gives a long term
                                  relationship.
                              </li>
                              <li>Reliability-</li>
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button"
                              style="color:  #071C2C; font-size: 18px; font-style: Montserrat; font-weight: 600;"
                              data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                              aria-controls="collapseThree">
                              How can our visa expertise help you in making your visa journey easy?
                          </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body"
                              style="color:  #071C2C; font-size: 18px; font-style: Montserrat; font-weight: 400;">
                              Our visa experts at Skytrails bring years of experience to the
                              table, simplifying the complex visa journey for you. From
                              understanding the intricacies of different visa types to
                              assisting with documentation, we guide you at every step. Our
                              expertise minimizes the chances of errors and ensures a
                              smoother application process, saving you time and effort.
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseFour" aria-expanded="false"
                              style="color:  #071C2C; font-size: 18px; font-style: Montserrat; font-weight: 600;"
                              aria-controls="collapseFour">
                              How long does it take for visa application process? 
                          </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body"
                              style="color:  #071C2C; font-size: 18px; font-style: Montserrat; font-weight: 400;">
                              The duration of the visa application process varies depending
                              on the type of visa and the country of destination you are
                              applying for. Generally, it can take anywhere from a few weeks
                              to a few months. Skytrails is committed to providing accurate
                              timelines and keeping you informed about the progress of your
                              application throughout the entire process.
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button"
                              style="color:  #071C2C; font-size: 18px; font-style: Montserrat; font-weight: 600;"
                              data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                              aria-controls="collapseFive">
                              How can Skytrails help to choose the best suited visa for you?
                          </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body"
                              style="color:  #071C2C; font-size: 18px; font-style: Montserrat; font-weight: 400;">
                              At Skytrails, we understand that each individual's needs are
                              unique. Our experienced visa consultants will assess your
                              specific requirements, skill-set, experience and understand
                              your career goals. By providing personalized guidance, we help
                              you choose the most suitable visa option, ensuring a
                              successful and stress-free application process.<br />
                              After understanding your needs, we assist you with selecting
                              countries that offer higher job prospects and better standards
                              of living assuring your long term success and career growth.
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseSix" aria-expanded="false"
                              style="color:  #071C2C; font-size: 18px; font-style: Montserrat; font-weight: 600;"
                              aria-controls="collapseSix">
                              How do I get a work visa?
                          </button>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body"
                              style="color:  #071C2C; font-size: 18px; font-style: Montserrat; font-weight: 400;">We
                              try</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   </div>


    <!--get counselling  -->
    
    <div class="container p-5 ">
        <div class="visa-service-conatiner2 row">
          <div class="col visa-service-text">
            <div class="visa-content-conatiner1">
              <div class="visacontent2">Connect with our invest visa advisor to assist you.</div>
              <div class="crafting-heading-para">Our advisors assist you by understanding your business needs.</div>
            </div>
         

          <div class="visa-button">Get in touch</div>
          
          </div>
          <div class="col">
           <div class="service-container-img"></div>
          </div>
        </div>
        
        </div>


{% endblock main-content  %}      