{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}

  <!-- navbar for more than 800px+ screen  -->
    <div class="container-fluid" style="width: 100%; padding: 0;">
      {% include "VisaPage/Base/navbar.html" %}
    </div>

    {% endblock main-body-content %}

{% block main-content  %}




    <!-- /////////////////////////////////////privacy-policy-page///////////////// -->

    <div class="privacy-policy-container">
        <div class="container ">
        <!-- <div class="privacy-content" style="padding: 25px; margin-bottom: 18px;">
    
           <div class="overseas-jobs3-1">
            <div class="overseas-job-contet">
            </div>
           </div>
        </div> -->
        <div class=" mt-4">
            <div class="row">
              <!-- First Column -->
              <div class="col-md-3">
                <div class="privacy-content" style="padding: 25px; margin-bottom: 18px; gap: 12px;">
                        <div class="filter-overseas">
                            <div class="filter-overseas-name" style="display: flex; flex-direction: row-reverse;">Clear Filter</div>
                            
                        </div>
                        <div class="overseas-checkbox">
                            <div class="post-name1">Country</div>
                            <div class="check-box">
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>                               
                            </div>
                        </div>

                        <div class="overseas-checkbox mt-5">
                            <div class="post-name1">Job Title</div>
                            <div class="check-box">
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>                               
                            </div>
                        </div>

                        <div class="overseas-checkbox mt-5">
                            <div class="post-name1">Industry</div>
                            <div class="check-box">
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>
                                <div class="check-box-1">
                                    <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="form-check-label" for="exampleCheckbox">
                                      Check
                                    </label>
                                </div>                               
                            </div>
                        </div>
           
        </div>
              </div>
          
              <!-- Second Column -->
              <div class="col-md-9">
                <a href="{% url "overseas_details" %}">
                <div class="privacy-policy-container" style="padding: 0px;">
                    <div class="container ">
                    <div class="privacy-content" style="padding: 25px; margin-bottom: 18px;">
                
                       <div class="overseas-jobs3-1">
                        <div class="overseas-job-contet">
                            <div class="feature-article-content-coursel">Packaging Operator </div>
                            <div class="type-jobs">Full time</div>
            
                        </div>
                        <div class="overseas-job-contet-details">
                            <div class="country-name-job">
                                <div class="country-name-job-name">Country:</div>
                                <div class="country-name-job-country">Poland</div>
                            </div>
                            <div class="country-name-job">
                                <div class="country-name-job-name">Salary:</div>
                                <div class="country-name-job-country"> ₹80,000/month</div>
                            </div>
                            <div class="country-name-job">
                                <div class="country-name-job-name">Experience Required:</div>
                                <div class="country-name-job-country">N/A</div>
                            </div>
                        </div>
                       </div>
            
            
            
                     
                    </div>
            
                
                    
                    </div>
                </div> 
              </a>
                <div class="privacy-policy-container" style="padding: 0px;">
                    <div class="container ">
                    <div class="privacy-content" style="padding: 25px; margin-bottom: 18px;">
                
                       <div class="overseas-jobs3-1">
                        <div class="overseas-job-contet">
                            <div class="feature-article-content-coursel">Packaging Operator </div>
                            <div class="type-jobs">Full time</div>
            
                        </div>
                        <div class="overseas-job-contet-details">
                            <div class="country-name-job">
                                <div class="country-name-job-name">Country:</div>
                                <div class="country-name-job-country">Poland</div>
                            </div>
                            <div class="country-name-job">
                                <div class="country-name-job-name">Salary:</div>
                                <div class="country-name-job-country"> ₹80,000/month</div>
                            </div>
                            <div class="country-name-job">
                                <div class="country-name-job-name">Experience Required:</div>
                                <div class="country-name-job-country">N/A</div>
                            </div>
                        </div>
                       </div>
            
            
            
                     
                    </div>
            
                
                    
                    </div>
                </div> 
                <div class="privacy-policy-container" style="padding: 0px;">
                    <div class="container ">
                    <div class="privacy-content" style="padding: 25px; margin-bottom: 18px;">
                
                       <div class="overseas-jobs3-1">
                        <div class="overseas-job-contet">
                            <div class="feature-article-content-coursel">Packaging Operator </div>
                            <div class="type-jobs">Full time</div>
            
                        </div>
                        <div class="overseas-job-contet-details">
                            <div class="country-name-job">
                                <div class="country-name-job-name">Country:</div>
                                <div class="country-name-job-country">Poland</div>
                            </div>
                            <div class="country-name-job">
                                <div class="country-name-job-name">Salary:</div>
                                <div class="country-name-job-country"> ₹80,000/month</div>
                            </div>
                            <div class="country-name-job">
                                <div class="country-name-job-name">Experience Required:</div>
                                <div class="country-name-job-country">N/A</div>
                            </div>
                        </div>
                       </div>
            
            
            
                     
                    </div>
            
                
                    
                    </div>
                </div> 
                <div class="privacy-policy-container" style="padding: 0px;">
                    <div class="container ">
                    <div class="privacy-content" style="padding: 25px; margin-bottom: 18px;">
                
                       <div class="overseas-jobs3-1">
                        <div class="overseas-job-contet">
                            <div class="feature-article-content-coursel">Packaging Operator </div>
                            <div class="type-jobs">Full time</div>
            
                        </div>
                        <div class="overseas-job-contet-details">
                            <div class="country-name-job">
                                <div class="country-name-job-name">Country:</div>
                                <div class="country-name-job-country">Poland</div>
                            </div>
                            <div class="country-name-job">
                                <div class="country-name-job-name">Salary:</div>
                                <div class="country-name-job-country"> ₹80,000/month</div>
                            </div>
                            <div class="country-name-job">
                                <div class="country-name-job-name">Experience Required:</div>
                                <div class="country-name-job-country">N/A</div>
                            </div>
                        </div>
                       </div>
            
            
            
                     
                    </div>
            
                
                    
                    </div>
                </div> 
              </div>
            </div>
          </div>

       
        
        </div>
    </div>



{% endblock main-content  %}