{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}

  <!-- navbar for more than 800px+ screen  -->
    <div class="container-fluid" style="width: 100%; padding: 0;">
      {% include "VisaPage/Base/navbar.html" %}
    </div>
    {% include "VisaPage/Base/sidenavbar.html" %}

    {% endblock main-body-content %}

{% block main-content  %}

    <!-- /////////////////////////////////////privacy-policy-page///////////////// -->

    <div class="privacy-policy-container">
        <div class="container ">
        <div class="privacy-content" style="padding: 25px; margin-bottom: 18px;">
    
           <div class="overseas-jobs3-1">
            <div class="overseas-job-contet">
                <div class="feature-article-content-coursel">Packaging Operator </div>
                <div class="type-jobs">Full time</div>

            </div>
            <div class="overseas-job-contet-details">
                <div class="country-name-job">
                    <div class="country-name-job-name">Country:</div>
                    <div class="country-name-job-country">Poland</div>
                </div>
                <div class="country-name-job">
                    <div class="country-name-job-name">Salary:</div>
                    <div class="country-name-job-country"> ₹80,000/month</div>
                </div>
                <div class="country-name-job">
                    <div class="country-name-job-name">Experience Required:</div>
                    <div class="country-name-job-country">N/A</div>
                </div>
            </div>
            <div class="customHeaderButton">Apply Now</div>
           </div>



         
        </div>

        <div class="privacy-content" style="padding: 25px; gap: 12px;">
    
            <div class="overseas-jobs3-1">
             <div class="overseas-job-contet">
                 <div class="crafting-heading-para"><b>Documents Required:</b></div>
 
             </div>
             
             <div class="ddocument-required">
                <div class="ddocument-required-1">
                    <div class="country-name-job-name">Mandatory</div>
                    <div class="country-name-job-country1"><ul>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                    </ul></div>
                </div>
                <div class="ddocument-required-1">
                    <div class="country-name-job-name">Additional</div>
                    <div class="country-name-job-country1"><ul>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                        <li>Valid Passport</li>
                    </ul></div>
                </div>
             </div>
             
            </div>



            <div class="overseas-jobs3-1">
                <div class="overseas-job-contet">
                    <div class="crafting-heading-para"><b>Perks & Benefits</b></div>
    
                </div>
                
                <div class="ddocument-required">
                   <div class="ddocument-required-1">
                       <div class="country-name-job-country1"><ul>
                           <li>Perks & Benefits</li>
                           <li>Perks & Benefits</li>
                           <li>Perks & Benefits</li>
                           <li>Perks & Benefits</li>
                           <li>Perks & Benefits</li>
                           <li>Perks & Benefits</li>
                       </ul></div>
                   </div>
                   
                </div>
                
               </div>
 

               <div class="overseas-jobs3-1">
                <div class="overseas-job-contet">
                    <div class="crafting-heading-para"><b>Education</b></div>
    
                </div>
                
                <div class="ddocument-required">
                   <div class="ddocument-required-1">
                       <div class="country-name-job-country1"><ul>
                           <li>10th Pass required</li>
                           <li>10th Pass required</li>
                           
                       </ul></div>
                   </div>
                   
                </div>
                
               </div>
 
 
 
          
         </div>

        
        </div>
    </div>

    {% endblock main-content %}

