{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}
<div class="mainbody-content-ssdc">
  <div class="container-fluid">
    {% include "VisaPage/Base/navbar.html" %}
  </div>
  {% include "VisaPage/Base/sidenavbar.html" %}
  <!--/////////////////////////////////////landing page ssdc/////////////////////////////////////////-->
  <div class="ssdc-landing">
    <div class="ssdc-landing-content">
      <div class="ssdc-heading ">
        Upskilling <span>blue collar workforce</span> for global opportunities
      </div>

      <div class="customHeaderButton" style="margin-bottom: 25px;">
        Get more information
      </div>

    </div>

    <div class="ssd-landing-img"></div>

  </div>
</div>
{% endblock main-body-content %}

{% block main-content  %}
    
  <!-- ///////////////////////About ssdc////////////////////////////////////// -->
  <div class="container">
    <div class="about-ssdc-conatiner">
      <h3 class="ssdc-heading">About SSDC</h3>

      <div class="skill-development-grid">
        <div class="skill-ssdc-info">Skytrails Skill Development Centre</div>
      </div>

      <div class="ssdc-about-grid row">
          <div class="col-md-3">
            <div class="column-content-about-ssdc">
              <img src="{% static "visa/images/building 1.png" %}" alt="">
              <div class="ssdc-heading">1</div>
              <div class="service-card1" style="text-align: center;">Training Centre</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="column-content-about-ssdc">
              <img src="{% static "visa/images/image2.png" %}" alt="">
              <div class="ssdc-heading">400+</div>
              <div class="service-card1" style="text-align: center;">Total Successful Placements</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="column-content-about-ssdc">
              <img src="{% static "visa/images/image3.png" %}" alt="">
              <div class="ssdc-heading">4</div>
              <div class="service-card1" style="text-align: center;">Certification courses Offered</div>
            </div>
          </div>
         
          <div class="col-md-3">
            <div class="column-content-about-ssdc1">
              <img src="{% static "visa/images/image4.png" %}" alt="">
              <div class="ssdc-heading">5</div>
              <div class="service-card1" style="text-align: center;">Walk-in Enquiry Offices</div>
            </div>
          </div>
         

      </div>


    </div>
  </div>


   <!-- //////////////////////////proudly Accredited////////////////////////////////// -->
   <div class="container">
    <div class="patner-container">
      <div class="recognized-patner-value">
        <div class="patner-heading">Proudly Accredited by</div>
      </div>
      <div class="patner-logo">
        <img src="{% static "visa/images/image1211.png" %}" alt="">
        <img src="{% static "visa/images/image1212.png" %}" alt="">

      </div>

    </div>
  </div>

  

  <!-- //////////////////////////////////join ssdc //////////////////////////////////////////////////// -->
  <div class="container">
    <div class="join-ssdc-conatiner">
      <div class="service-offer-heading">
        Join SSDC
      </div>
      <div class="onestop-para">A line related to telling the overall benefit of ssdc</div>

      <div class="row join-ssdc-grid">
        <div class="col-md-4">
          <div class="column-content">
            <div class="join-ssdc-img">
              <img src="{% static "visa/images/save-money_1611302.png" %}" alt="" srcset="">
            </div>
            <div class="join-ssdc-heading-content">No Initial Cost </div>
            <div class="about-us-content-2" style="text-align: center;">We don’t charge any fees till your work permit
              arrives.</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="column-content">
            <div class="join-ssdc-img">
              <img src="{% static "visa/images/analysis (1).png" %}" alt="" srcset="">
            </div>
            <div class="join-ssdc-heading-content">Free Training Programme</div>
            <div class="about-us-content-2" style="text-align: center;">SSDC provides comprehensive upskilling to make
              you job ready.</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="column-content">
            <div class="join-ssdc-img">
              <img src="{% static "visa/images/reward-card_2721203.png" %}" alt="" srcset="">
            </div>
            <div class="join-ssdc-heading-content">Additional Perks</div>
            <div class="about-us-content-2" style="text-align: center;">Free accommodation and medical insurance
              provided by Company </div>
          </div>
        </div>

      </div>

    </div>


  </div>

  <!-- //////////////////////////know the process//////////////////////////////////////// -->
  <div class="container service-we-offer">
    <div class="service-offer-container">
      <div class="service-offer-heading">Know the Process</div>
      <div class="mt-5 w-100">
        <ul class="nav service-content" id="myTabs">
          <li class="nav-item">
            <a
              class="active visa-service"
              id="tab1-tab"
              data-bs-toggle="tab"
              href="#tab1"
              >Training Journey</a
            >
          </li>
          <li class="nav-item">
            <a
              class=" visa-service"
              id="tab2-tab"
              data-bs-toggle="tab"
              href="#tab2"
              >Visa Journey</a
            >
          </li>
        </ul>

        <div class="tab-content" style="margin-top: 50px;">
          <div class="tab-pane fade show active" id="tab1">
            <div class="container">
              <div class="know-service-grid row">
                  <div class="col-lg-3 col-md-4">
                   <div class="training-journey-serice">
                    <div class="training-journey-serice-no">1</div>
                    <h3 class="training-journey-serice-heading">Visit Us</h3>
                    <p class="crafting-heading-para">Get in touch with us by filling the form. Our expert will call you to understand your requirements and needs. You can also visit any of our office and meet our visa experts. </p>

                   </div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                    <div class="training-journey-serice">
                     <div class="training-journey-serice-no">2</div>
                     <h3 class="training-journey-serice-heading">Attend Skill Training</h3>
                     <p class="crafting-heading-para">If you meet the basic requirements, enroll in our skill training programs. 
                      Our courses are designed to ensuring you meet the industry standards.</p>
 
                    </div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                    <div class="training-journey-serice">
                     <div class="training-journey-serice-no">3</div>
                     <h3 class="training-journey-serice-heading">Improvise your skills</h3>
                     <p class="crafting-heading-para">Additionally we are dedicated to to boost your confidence and make you well prepared.
                      We help you by improvising your english speaking skills.
                        </p>
 
                    </div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                    <div class="training-journey-serice">
                     <div class="training-journey-serice-no">4</div>
                     <h3 class="training-journey-serice-heading">Get your work permit</h3>
                     <p class="crafting-heading-para">Alongside our comprehensive training program, our team of expert guides help you through the visa documentation and processing.Trust us with paperwork, and you focus on training.
                    </p>
 
                    </div>
                   </div>
                
              </div>
              
              </div>
          </div>
          <div class="tab-pane fade" id="tab2">
            <div class="container">
              <div class="know-service-grid2 row">
                  <div class="col-lg-3 col-md-4">
                   <div class="training-journey-serice">
                    <div class="training-journey-serice-no">1</div>
                    <h3 class="training-journey-serice-heading">Visit Us</h3>
                    <p class="crafting-heading-para">Get in touch with us by filling the form. Our expert will call you to understand your requirements and needs. You can also visit any of our office and meet our visa experts. </p>

                   </div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                    <div class="training-journey-serice">
                     <div class="training-journey-serice-no">2</div>
                     <h3 class="training-journey-serice-heading">Profile Evaluation</h3>
                     <p class="crafting-heading-para">Engage with our experts and get your profile evaluated aligned with the opportunities.
                      Accept the </p>
 
                    </div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                    <div class="training-journey-serice">
                     <div class="training-journey-serice-no">3</div>
                     <h3 class="training-journey-serice-heading">Comprehensive career guidance</h3>
                     <p class="crafting-heading-para">Additionally we are dedicated to to boost your confidence and make you well prepared.
                      We help you by improvising your english speaking skills.
                        
                        </p>
 
                    </div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                    <div class="training-journey-serice">
                     <div class="training-journey-serice-no">4</div>
                     <h3 class="training-journey-serice-heading">Get your work permit</h3>
                     <p class="crafting-heading-para">Alongside our comprehensive training program, our team of expert guides help you through the visa documentation and processing.Trust us with paperwork, and you focus on training.

                    </p>
 
                    </div>
                   </div>
                
              </div>
              
              </div>
          </div>
          
        </div>
      </div>
      <button
      class="customHeaderButton"
            data-bs-toggle="modal"
            data-bs-target="#connectusModal"
          >
          Get in touch with us
          </button>
          {% include "VisaPage/connectus_modal.html" %}

    </div>
  </div>


  <!-- ///////////////////////////////////certification container////////////////////////////////////////////////////////////// -->
  <div class="container">
    <div class="service-offer-heading" style="text-align: center; margin-bottom: 32px;">Certifications Offered</div>
    <div class="row g-4">
      <!-- <div class="col-lg-12"> -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5810.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Carpentery</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5811.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Plumbing</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5812.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Data Entry Operator</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5813.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Cutting & Tailoring</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5814.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Storekeeper</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5815.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Housekeeping</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5816.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Financial Accounting</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5817.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Office Management</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5818.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Mobile Phone Repairing</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5819.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">House Wiring & Appliances Repair</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5820.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Motor & Transformer Rewinding</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="certiOffered-box">
            <img src="{% static "visa/images/Rectangle 5821.png" %}" alt="">
            <div class="grid-certification-content">
              <div class="grid-certification-content-1">
                <h3 class="visa-service">Quality Control Assistant</h3>
                <p class="leadership-detail-content-description">Training Duration: 6 Months</p>
              </div>
              <button class="register-now">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  viewBox="0 0 12 12" fill="none">
                  <path
                    d="M3.96935 1.22691C3.82874 1.36756 3.74976 1.55829 3.74976 1.75716C3.74976 1.95604 3.82874 2.14677 3.96935 2.28741L7.68185 5.99991L3.96935 9.71241C3.83273 9.85387 3.75713 10.0433 3.75884 10.24C3.76055 10.4366 3.83943 10.6247 3.97848 10.7638C4.11754 10.9028 4.30565 10.9817 4.5023 10.9834C4.69894 10.9851 4.8884 10.9095 5.02985 10.7729L9.2726 6.53016C9.4132 6.38952 9.49219 6.19879 9.49219 5.99991C9.49219 5.80104 9.4132 5.61031 9.2726 5.46966L5.02985 1.22691C4.8892 1.08631 4.69847 1.00732 4.4996 1.00732C4.30072 1.00732 4.10999 1.08631 3.96935 1.22691Z"
                    fill="#E73C34" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        
      <!-- </div> -->

    </div>
  </div>



  <!-- //////////////////////customer-textimonal///////////////////////////////////// -->
  <!-- <div class="customer-textimonial-container mt-5">
  <div class="container">

      <h3 class="service-offer-heading" style="text-align: center;">Customer Testimonials</h3>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <img src="" alt="" class="customer-img-testimonial">
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <img src="" alt="" class="customer-img-testimonial">
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <img src="" alt="" class="customer-img-testimonial">
        </div>
    </div>
    

    </div>
  </div> -->

  <!-- ///////////////////////////training center////////////////// -->
  <div class="container">
    <div class="training-detail-conatiner">
      <div class="service-offer-heading" style="text-align: center;">Our Training Centre</div>
      <div class="custom-container1">
        <div class="service-offer-img">
          <img src="{% static "visa/images/atmosphere-landmark-ground-cloudscape-nature 1.png" %}" alt="Background Image" style="height: 300px;">
          <div class="content-overlay">
            <div class="training-img-text">
              NH 1, Village Bhuri Mazara,
              Tehsil Rajpura.
              Patiala Punjab-140401
            </div>
          </div>
        </div>
      </div>

  </div>
   </div>


   {% endblock main-content  %}