{% extends "VisaPage/Base/base.html" %}
{% load static %}
{% block main-body-content %}

  <!-- navbar for more than 800px+ screen  -->
    <div class="container-fluid" style="width: 100%; padding: 0;">
      {% include "VisaPage/Base/navbar.html" %}
  </div>
  {% include "VisaPage/Base/sidenavbar.html" %}

  {% endblock main-body-content %}

  {% block main-content  %}


    <!-- /////////////////////////////////////terms-condition-page///////////////// -->

    <div class="privacy-policy-container">
      <div class="container ">
      <div class="privacy-content">
  
          <div class="privacy-content-1">
              <h3 class="privacy-heading">Terms & Conditions of The Skytrails</h3>
          </div>
  
  
          <div class="privacy-content-2">
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">NOTICE TO CLIENTS </div>
                  <div class="privacy-values2">Payments to Skytrails Private Limited: When making a payment to Skytrails Private Limited, you have the right to request a receipt. Skytrails Private Limited provides receipts for all payments received. An acknowledgment for your payment will be sent from our central billing system. If you have queries regarding payments to Skytrails Private Limited, please email us at <span><a href="mailto:info@theskytrails.com">info@theskytrails.com.</a></span> </div>
              </div>
  
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">Confidentiality Assurance</div>
                  <div class="privacy-values">
                     <ol>
                      <li>Information Handling: Personal and business proprietary information provided to The Skytrails is maintained with strict confidentiality. Access to this information is limited to a need-to-know basis within our organization.</li>
                      <li>Personal Information Usage: We collect personal details only when you voluntarily send us a message. This information is used exclusively by our trained personnel to perform the services you have engaged us for.</li>
                      <li>Email Privacy: Your email address will be used solely for the purpose it was provided for. We do not use client emails for marketing, nor do we share them without explicit consent.</li>
                      <li>Information Sharing: The only circumstance under which your information might be shared is with government agencies involved in your immigration process, such as immigration authorities in various countries, under strict confidentiality protocols.</li>
                      <li>Optional Registration: You may choose to register on our website to receive newsletters, catalogs, or updates about our services. We will only use your information for these purposes with your consent.</li>
                     </ol>
                  </div>
              </div>
  
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">Security Measures</div>
                  <div class="privacy-values">
                      <ol>
                          <li>We have robust security measures to protect against data loss, misuse, or alteration.</li>
                          <li>All personal and financial information is encrypted during transmission over the Internet.</li>
                          <li>Despite our efforts, we cannot guarantee absolute security of your information during transmission.</li>
                      </ol>
                  </div>
              </div>
  
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">Third-Party Links and Content </div>
                  <div class="privacy-values">
                    <ol>
                      <li>Our website may contain links to third-party sites. The Skytrails is not responsible for the privacy practices or content of these external sites.</li>
                      <li>We advise users to review the privacy policies of any third-party sites before engagement.</li>
                    </ol>
                  </div>
              </div>
  
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">Policy Updates</div>
                  <div class="privacy-values">
                    <ol>
                      <li>Our Privacy Policy and Terms and Conditions are subject to change. We encourage clients to regularly check our website for any updates.</li>
                      <li>The current policy applies to all information we have about you and your account.</li>
                    </ol>
                  </div>
              </div>
  
  
              <div class="privacy-confidently">
                  <div class="privacy-confidently-heading">Mobile Application Permissions</div>
                  <div class="privacy-values">
                    <ol>
                      <ol>
                          <li>Location Access: For displaying nearby Centres/Institutes based on user location.</li>
                          <li>Storage Access: To store and view test materials and reports.</li>
                          <li>Camera Access: For profile image upload and capturing test sheets for evaluation.</li>
                          <li>Microphone Access: To record audio for speaking tests.</li>
                          <li>Identity Access: For auto-filling Gmail accounts for faster sign-up.</li>
                          <li>Photos/Media/Files Access: To select profile pictures from the device’s gallery.</li>
                          <li>SMS Access: For auto-filling OTP for a streamlined sign-up process.</li>
                          <li>Device ID & Call Information: To identify specific device issues for UX improvements.</li>
                      </ol>
                    </ol>
                  </div>
              </div>
  
  
              <div class="forinformation-policy">
                  <div class="privacy-confidently-heading">For more information,</div>
                  <div class="privacy-values2">Please contact our experts at <span ><a href="mailto:info@theskytrails.com">info@theskytrails.com.</a></span> Our team is dedicated to providing prompt and <br/>comprehensive responses.</div>
                  <br/>
                  <div class="privacy-confidently-heading">License Information</div>
                  <div class="privacy-values2">The Skytrails is a licensed recruitment agent in India (License No. B-0553/AP/COM/1000+/5/8968/2013).</div>
              </div>
             
             
  
          </div>
         
          
      </div>
      </div>
  </div>



{% endblock main-content %}