<nav class="navbar navbar-expand-lg navbar-expand-md navBox disp">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link activated" aria-current="page" href="/">What's New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "visa_details" %}">Visa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "ssdc" %}">SSDC</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="{% url "overseas" %}">Overseas Jobs</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="{% url "blog" %}">Blogs/News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://theskytrails.com/" target="_blank">Travel & Holidays</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "aboutus" %}">About Us</a>
            </li>
        </ul>
        <form style="padding-right: 14px" class="d-flex" role="submit" type="submit">
            <a class="customHeaderButton" href="https://crm.theskytrails.com">Login</a>
        </form>
    </div>
</nav> 